
version-info:
  stage: .pre
  image: $CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX/eclipse-temurin:21
  tags: [kubernetes]
  rules:
    - if: $CI_REGISTRY_IMAGE && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  cache:
    paths:
      - .m2/repository
  variables:
    MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
  script:
    - echo "VERSION=$(./mvnw help:evaluate -q -DforceStdout -Dexpression=project.version)" > .dotenv
  artifacts:
    reports:
      dotenv: .dotenv

build:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.24.0-debug
    entrypoint: [""]
  tags: [kubernetes]
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_TAG
      variables:
        VERSION: $CI_COMMIT_TAG
  variables:
    KANIKO_REGISTRY_MIRROR: $CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX
  before_script:
    # add auth for docker.io proxy
    - |
      test -n "${CI_DEPENDENCY_PROXY_PASSWORD}" && cat <<EOF | tee /kaniko/.docker/config.json
        {"auths":{
          ${CI_DEPENDENCY_PROXY_PASSWORD:+\"$CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX\":{\"auth\":\"$(echo -n "$CI_DEPENDENCY_PROXY_USER:$CI_DEPENDENCY_PROXY_PASSWORD" | base64 -w0)\"\},}
          ${PUSH_REGISTRY:+\"$PUSH_REGISTRY\":{\"auth\":\"$(echo -n "$PUSH_REGISTRY_USER:$PUSH_REGISTRY_PASSWORD" | base64 -w0)\"\},}
          "${CI_REGISTRY_IMAGE-nocache}":{"auth":"$(echo -n "${CI_REGISTRY_USER-foo}:${CI_REGISTRY_PASSWORD-bar}" | base64 -w0)"},
          "index.docker.io": { }
        }}
      EOF
  script:
    - export VERSION="$(echo -n "$VERSION" | sed 's/[^[:alnum:]._-]/_/g')" ;
      /kaniko/executor
        --context "dir://${CI_PROJECT_DIR}"
        --dockerfile Dockerfile
        --cache=true --cache-dir "${CI_PROJECT_DIR}/.cache"
        --cache-repo "${CI_REGISTRY_IMAGE-oci:$CI_PROJECT_DIR/.cache/kaniko/}${CI_REGISTRY_IMAGE:+/cache}"
        --label org.opencontainers.image.version="${VERSION}"
        --label org.opencontainers.image.revision="${CI_COMMIT_SHA}"
        --label org.opencontainers.image.created="${CI_JOB_STARTED_AT}"
        --destination "${PUSH_REGISTRY-$CI_REGISTRY_IMAGE}${PUSH_REGISTRY:+/apogeews-stub}:${VERSION}"

test:
  stage: test
  image: $CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX/eclipse-temurin:21
  cache:
    paths:
      - .m2/repository
  variables:
    MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
    TZ: Europe/Paris
  script:
  - ./mvnw -batch-mode --errors --fail-at-end verify
  artifacts:
    when: always
    reports:
      junit: target/surefire-reports/TEST-*.xml

publish-apo-webservices-client:
  image: eclipse-temurin:21
  stage: deploy
  rules:
  - when: manual
  tags:
  - kubernetes
  variables:
    JAR_FILE: https://github.com/EsupPortail/esup-siscol/raw/refs/heads/main/jars/apo-webservices-client-65073.jar
    JAR_VERSION: "6.50.73"
  before_script:
  - |
    mkdir -p .m2 && cat <<EOS > ".m2/settings.xml"
    <settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
      <servers><server><id>gitlab-esup-siscol-stub</id>
        <configuration><httpHeaders>
          <property><name>Job-Token</name><value>\${CI_JOB_TOKEN}</value></property>
        </httpHeaders></configuration>
    </server></servers></settings>
    EOS
  script:
  - wget -O "$(basename "$JAR_FILE")" "$JAR_FILE"
  - jar xvf "$(basename "$JAR_FILE")" META-INF/maven/
  - awk '/<parent>/,/<\/parent>/ {next}1' "$(find META-INF/maven -name pom.xml | head -1)" > orphan-pom.xml
  - ./mvnw deploy:deploy-file
      --settings .m2/settings.xml --batch-mode
      -DrepositoryId=gitlab-esup-siscol-stub
      -Durl="${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/maven"
      -Dfile="$(basename "$JAR_FILE")"
      -DpomFile=orphan-pom.xml
      -Dversion="$JAR_VERSION"
      -DgeneratePom=false
