test:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/eclipse-temurin:21
  script: ./mvnw verify
  artifacts:
    when: always
    reports:
      junit: target/surefire-reports/TEST-*.xml

publish-apo-webservices-client:
  image: eclipse-temurin:21
  stage: deploy
  rules:
  - when: manual
  tags:
  - kubernetes
  variables:
    JAR_FILE: https://github.com/EsupPortail/esup-siscol/raw/refs/heads/main/jars/apo-webservices-client-65073.jar
    JAR_VERSION: "6.50.73"
  before_script:
  - |
    mkdir -p .m2 && cat <<EOS > ".m2/settings.xml"
    <settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
      <servers><server><id>gitlab-esup-siscol-stub</id>
        <configuration><httpHeaders>
          <property><name>Job-Token</name><value>\${CI_JOB_TOKEN}</value></property>
        </httpHeaders></configuration>
    </server></servers></settings>
    EOS
  script:
  - wget -O "$(basename "$JAR_FILE")" "$JAR_FILE"
  - jar xvf "$(basename "$JAR_FILE")" META-INF/maven/
  - awk '/<parent>/,/<\/parent>/ {next}1' "$(find META-INF/maven -name pom.xml | head -1)" > orphan-pom.xml
  - ./mvnw deploy:deploy-file
      --settings .m2/settings.xml --batch-mode
      -DrepositoryId=gitlab-esup-siscol-stub
      -Durl="${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/maven"
      -Dfile="$(basename "$JAR_FILE")"
      -DpomFile=orphan-pom.xml
      -Dversion="$JAR_VERSION"
      -DgeneratePom=false
